
body{
  background-color: #350202;
}
.sectionOne {
  background-color: #350202;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

h1 {
  color: whitesmoke;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

p.paragraphOne {
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}

.sectionTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 200px;
}

.sectionThree {
  display: flex;
  justify-content: center;
}

p.author {
font-size: 16px;
color: whitesmoke;
}